@media(max-width:578px){
.ant-pagination .ant-pagination-item a{
  padding: 0 0 !important;
}

.ant-pagination .ant-pagination-item{
  height: 24px !important;
  min-width: 24px !important;
  line-height: 23px !important;
}

.ant-table-pagination{
  row-gap: 0px !important;
}
}